@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=DynaPuff:wght@400..700&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 100%;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 8px;
}
p {
  font-size: 16px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
  p {
    font-size: 18px;
  }
}

details {
  padding: 8px 0 8px 0;
}

details>summary {
  list-style: none;
  cursor: pointer;
  transition: background 0.2s;
  padding: 6px 0;
  user-select: none;
}

details > summary:hover {
  background: #f0f4fa;
}

details > summary:active {
  background: #e0e7ef;
}

details>summary::-webkit-details-marker {
  display: none;
}

.bullet {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.bullet li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

@layer components {
  .section-container {
    @apply flex w-full justify-center;
  }

  .section-content {
    @apply flex relative w-full max-w-[900px] py-[40px] px-4;
  }

  .main-title {
    @apply pb-[8px] text-3xl font-bold;
  }

  .menu-link {
    @apply text-gray-700 hover:text-blue-600 cursor-pointer;
  }

  .subtitle {
    @apply pb-[4px] text-2xl font-semibold;
  }

  .text-lg {
    @apply text-[18px];
  }

  .text-section {
    @apply pb-[26px] text-lg;
  }

  .social-icon {
    @apply w-[52px] h-[52px];
  }

  .social-row {
    @apply flex py-2 gap-4;
  }

  .hero-container {
    @apply flex relative w-full h-[217px] justify-center;
  }

  .hero-overlay {
    @apply flex relative flex-col w-full md:w-[900px] justify-center p-4;
  }

  .hero-title {
    @apply text-white text-3xl font-bold;
  }

  .hero-subtitle {
    @apply text-white text-3xl font-light;
  }
}